<!DOCTYPE html>
<html>
<head>
	<title> Home Page </title>
	<style> 
	 h1 {div {outline-color: coral;};}    
	</style>
</head>
<body style= "background-color: #cd486b; text-align: center;">

      <h1>  <p style="text-align: center;"><span style="font-size: 60px; background-color: rgb(239, 239, 239);">Hello there, This is yolla</span></p>
           <p style="text-align: center;"><br></p> </h1>

      <p style="text-align: center;"><span style='color: rgb(0, 0, 0); font-family: "Times New Roman"; font-size: 36px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: center; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255); text-decoration-thickness: initial; text-decoration-style: initial; text-decoration-color: initial; float: none; display: inline !important;'> In this website Im going to show you my favorite movies</span></p>

      <p style="text-align: center;"><span style="font-size: 30px; background-color: rgb(255, 255, 255);">jnhjEvery thing you should do is to Sign-up!</span></p>
      <h1>
      <a  href="/signup">   signup </a>
      <br>
      <a href="/signin"> signin </a>

      </h1>
</body>
</html>